{% extends 'base.html' %}
{% load static %}
{% block css %}
    <style>
        body{
            background: #0045c5dc;
           
          
            
            /* Chrome 10-25, Safari 5.1-6 */
            background: -webkit-linear-gradient(to right, rgb(36, 44, 51), rgb(55, 90, 151));
            
            /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
            background: linear-gradient(to right, rgb(36, 44, 51), rgb(55, 90, 151))
        }
    </style>
{% endblock css %}
{% block body %}
{% include 'part/header.html' %}


<div class="header vh100 gradient-custom">

   
    <div  class="col-md-8 offset-md-2 ">
        <h1 style="color: white;">C#</h1>
        <hr style="color: white;">
        {% for c in cşarp %}
        <h2><a  href="{% url 'cşarp_detail' c.pk %}">{{ c.tutorial_Title}}</a></h2>
        <p style="color: white;">{{ c.tutorial_Body | slice:':400' }}...</p>
        {% endfor %}
    </div>
    <a href="{% url 'cşarpq' %}" class="btn btn-primary">Ders Değerlendirme Testi</a>
   
</div>


{% endblock body %}