{% extends 'base.html' %}
{% load static %}

{% block body %}
{% include 'part/header.html' %}


<div class="header vh100 gradient-custom">

   
    <div  class="col-md-8 offset-md-2 ">
        <h1 style="color: white;">HTML</h1>
        <hr style="color: white;">
        {% for t in Tut %}
        <h2><a  href="{% url 'html_detail' t.pk %}">{{ t.tutorial_Title}}</a></h2>
        <p style="color: white;">{{ t.tutorial_Body | slice:':400' }}...</p>
        {% endfor %}
    </div>

   
</div>


{% endblock body %}