{% extends 'base.html' %}
{% load static %}

{% block body %}
{% include 'part/header.html' %}

<div class="header vh100 gradient-custom">

   


    <div class="container">
        <div class="qtitle mt-5 text-white text-center">
            <h3>Front-End</h3>
        </div>
        <div class="row mt-5">
            <div class="col-md-3 mb-4">
                <div class="card ">
                    <img src="../static/img/html5.jpg" class="card-img-top" alt="Fissure in Sandstone"/>
                    <div class="card-body">
                      <h5 class="card-title" style="color: black;" >HTML5</h5>
                      <p class="card-text" style="color: black;" >HTML'in tüm konularını tek seferde öğrenmeye varmısın, o halde hadi ders videosu ile hemen HTML becerini geliştir, video dan sonra quizini çözmeyi unutma</p>
                      <a href="{% url 'html' %}" class="btn btn-primary">Derse Başla</a>
                     
                    </div>
                  </div>
            </div>
            <div class="col-md-3 mb-4">
                <div class="card">
                    <img src="../static/img/css.jpg" class="card-img-top" alt="Fissure in Sandstone"/>
                    <div class="card-body">
                      <h5 class="card-title" style="color: black;" >CSS3</h5>
                      <p class="card-text" style="color: black;" >CSS hakkında ne kadar bilgi sahibisin? Kendini sınamak için hazır mısın? Hadi birlikte öğrenelim!</p>
                      <a href="{% url 'css' %}" class="btn btn-primary">Derse Başla</a>
                    </div>
                  </div>
            </div>
            <div class="col-md-3 mb-4">
                <div class="card">
                    <img src="../static/img/bootstrap.webp" class="card-img-top" alt="Fissure in Sandstone"/>
                    <div class="card-body">
                      <h5 class="card-title" style="color: black;" >BOOTSTRAP</h5>
                      <p class="card-text" style="color: black;" >Bootstrap ile tanışmak için en iyi yol sınamak olabilir. Hazır mısın? Birlikte bu konuda daha fazla öğrenelim!</p>
                      <a href="{% url 'bootstrap' %}" class="btn btn-primary">Derse Başla</a>
                    </div>
                  </div>
            </div>
            <div class="col-md-3 mb-4">
                <div class="card">
                    <img src="../static/img/js.webp" class="card-img-top" alt="Fissure in Sandstone"/>
                    <div class="card-body">
                      <h5 class="card-title" style="color: black;" >JAVASCRİPT</h5>
                      <p class="card-text" style="color: black;" >JS öğrenmek için, neyin mümkün olduğunu keşfetmek yerine, kendini sınayabilirsin. Hadi birlikte test edelim!</p>
                      <a href="{% url 'java' %}" class="btn btn-primary">Derse Başla</a>
                    </div>
                  </div>
            </div>
        </div>


        <div class="qtitle mt-5 text-white text-center">
            <h3>Back-End</h3>
        </div>


        <div class="row mt-5">
            <div class="col-md-3 mb-4">
                <div class="card">
                    <img src="../static/img/python.webp" class="card-img-top" alt="Fissure in Sandstone"/>
                    <div class="card-body">
                      <h5 class="card-title" style="color: black;" >PYTHON</h5>
                      <p class="card-text" style="color: black;" >Kendini sınamak ister misin? Python bilginle ne kadar ilerlediğini görelim. Haydi, öğrenmeye başlayalım!</p>
                      <a href="{% url 'python' %}" class="btn btn-primary">Derse Başla</a>
                    </div>
                  </div>
            </div>
            <div class="col-md-3 mb-4">
                <div class="card">
                    <img src="../static/img/django.png" class="card-img-top" alt="Fissure in Sandstone"/>
                    <div class="card-body">
                      <h5 class="card-title" style="color: black;" >DJANGO</h5>
                      <p class="card-text" style="color: black;" >Django öğrenmek için hazır mısın? Kendini sınamak istersen, bu quiz senin için! Hadi, test etmeye başlayalım.</p>
                      <a href="{% url 'django' %}" class="btn btn-primary">Derse Başla</a>
                    </div>
                  </div>
            </div>
            <div class="col-md-3 mb-4">
                <div class="card">
                    <img src="../static/img/csharp.jpg" class="card-img-top" alt="Fissure in Sandstone"/>
                    <div class="card-body">
                      <h5 class="card-title" style="color: black;" >C#</h5>
                      <p class="card-text" style="color: black;" >C# öğrenmek için ne kadar ilerledin? Kendini sınayarak daha da ilerleyebilirsin! Haydi, birlikte sınayalım.</p>
                      <a href="{% url 'cşarp' %}" class="btn btn-primary">Derse Başla</a>
                    </div>
                  </div>
            </div>
            <div class="col-md-3 mb-4">
                <div class="card">
                    <img src="../static/img/cplusplus.jpg" class="card-img-top" alt="Fissure in Sandstone"/>
                    <div class="card-body">
                      <h5 class="card-title" style="color: black;" >C++</h5>
                      <p class="card-text" style="color: black;" >C++ öğrenmek için hazır mısın? Kendini sınayarak öğrenmenin en iyi yolu! Hadi, test etmeye başlayalım.</p>
                      <a href="{% url 'cplus' %}" class="btn btn-primary">Derse Başla</a>
                    </div>
                  </div>
            </div>
        </div>
        <div class="qtitle mt-5 text-white text-center">
            
        </div>
    </div>
    <a href="{% url 'start_quiz' %}" class="btn btn-primary">Final Sınavına Başla</a>
</div>



{% endblock body %}