{% extends 'base.html' %}




{% block body %}
  
<div  id="header" class="banner">
  
    <div  class="sp-container">
      <div class="sp-content">
        <div style="margin-top: -300px;" class="sp-globe"></div>
        <h3 class="frame-1" style="font-size: 45px;">Front-End ve Back-End</h3>
        <h3 class="frame-2" style="font-size: 45px;">Alanın da Uzman Öğretmenlerden Alınan</h3>
        <h3 class="frame-3" style="font-size: 45px;">Sorular ve Ders İçerikleri ile</h3>
        <h3 class="frame-4" style="font-size: 45px; margin-left: -20px;">Yazılım Öğren</h3>
        <h3 class="frame-5" style="font-size: 45px;">
          <span>Dersler ve Quizler İçin</span>
          <span>Giriş Yap</span>
          <span>Veya Kayıt Ol</span>
        </h3>
      </div>
    </div>
   <a class="btn" style="color: white; text-decoration: none; z-index: 9; font-size: 45px; margin-top: 500px; margin-right: 100px;" href="{% url 'loginUser' %}">Giriş</a>
    <video src="../static/img/cybur.mp4"  autoplay muted loop></video>
  
</div>
{% endblock body %}
  







