{% extends 'base.html' %}
{% load static %}

{% block body %}
{% include 'part/header.html' %}

    
  <div class="header vh100 gradient-custom">

   


      <div class="container">
          <div class="qtitle mt-5 text-white text-center">
              <h3>Front-End</h3>
          </div>
          <div class="row mt-5">
              <div class="col-md-3 mb-4">
                  <div class="card ">
                      <img src="../static/img/html5.jpg" class="card-img-top" alt="Fissure in Sandstone"/>
                      <div class="card-body">
                        <h5 class="card-title">HTML5</h5>
                        <p class="card-text">Kendini sınamak ister misin? HTML temelleri hakkında ne kadar bilgi sahibisin? Hadi test edelim!</p>
                        <a href="#!" class="btn btn-primary">Button</a>
                      </div>
                    </div>
              </div>
              <div class="col-md-3 mb-4">
                  <div class="card">
                      <img src="../static/img/css.jpg" class="card-img-top" alt="Fissure in Sandstone"/>
                      <div class="card-body">
                        <h5 class="card-title">CSS3</h5>
                        <p class="card-text">CSS hakkında ne kadar bilgi sahibisin? Kendini sınamak için hazır mısın? Hadi birlikte öğrenelim!</p>
                        <a href="#!" class="btn btn-primary">Button</a>
                      </div>
                    </div>
              </div>
              <div class="col-md-3 mb-4">
                  <div class="card">
                      <img src="../static/img/bootstrap.webp" class="card-img-top" alt="Fissure in Sandstone"/>
                      <div class="card-body">
                        <h5 class="card-title">BOOTSTRAP</h5>
                        <p class="card-text">Bootstrap ile tanışmak için en iyi yol sınamak olabilir. Hazır mısın? Birlikte bu konuda daha fazla öğrenelim!</p>
                        <a href="#!" class="btn btn-primary">Button</a>
                      </div>
                    </div>
              </div>
              <div class="col-md-3 mb-4">
                  <div class="card">
                      <img src="../static/img/js.webp" class="card-img-top" alt="Fissure in Sandstone"/>
                      <div class="card-body">
                        <h5 class="card-title">JAVASCRİPT</h5>
                        <p class="card-text">JS öğrenmek için, neyin mümkün olduğunu keşfetmek yerine, kendini sınayabilirsin. Hadi birlikte test edelim!</p>
                        <a href="#!" class="btn btn-primary">Button</a>
                      </div>
                    </div>
              </div>
          </div>


          <div class="qtitle mt-5 text-white text-center">
              <h3>Back-End</h3>
          </div>


          <div class="row mt-5">
              <div class="col-md-3 mb-4">
                  <div class="card">
                      <img src="../static/img/python.webp" class="card-img-top" alt="Fissure in Sandstone"/>
                      <div class="card-body">
                        <h5 class="card-title">PYTHON</h5>
                        <p class="card-text">Kendini sınamak ister misin? Python bilginle ne kadar ilerlediğini görelim. Haydi, öğrenmeye başlayalım!</p>
                        <a href="#!" class="btn btn-primary">Button</a>
                      </div>
                    </div>
              </div>
              <div class="col-md-3 mb-4">
                  <div class="card">
                      <img src="../static/img/django.png" class="card-img-top" alt="Fissure in Sandstone"/>
                      <div class="card-body">
                        <h5 class="card-title">DJANGO</h5>
                        <p class="card-text">Django öğrenmek için hazır mısın? Kendini sınamak istersen, bu quiz senin için! Hadi, test etmeye başlayalım.</p>
                        <a href="#!" class="btn btn-primary">Button</a>
                      </div>
                    </div>
              </div>
              <div class="col-md-3 mb-4">
                  <div class="card">
                      <img src="../static/img/csharp.jpg" class="card-img-top" alt="Fissure in Sandstone"/>
                      <div class="card-body">
                        <h5 class="card-title">C#</h5>
                        <p class="card-text">C# öğrenmek için ne kadar ilerledin? Kendini sınayarak daha da ilerleyebilirsin! Haydi, birlikte sınayalım.</p>
                        <a href="#!" class="btn btn-primary">Button</a>
                      </div>
                    </div>
              </div>
              <div class="col-md-3 mb-4">
                  <div class="card">
                      <img src="../static/img/cplusplus.jpg" class="card-img-top" alt="Fissure in Sandstone"/>
                      <div class="card-body">
                        <h5 class="card-title">C++</h5>
                        <p class="card-text">C++ öğrenmek için hazır mısın? Kendini sınayarak öğrenmenin en iyi yolu! Hadi, test etmeye başlayalım.</p>
                        <a href="#!" class="btn btn-primary">Button</a>
                      </div>
                    </div>
              </div>
          </div>
          <div class="qtitle mt-5 text-white text-center">
              
          </div>
      </div>
  </div>
  {% endblock body %}
    












 
 