{% extends 'base.html' %}
{% load static %}

{% block body %}
{% include 'part/header.html' %}

    
<div class="header vh100 gradient-custom"  >

   


  <div class=" container-fluid orta iletişim1" id="contact">
    <div class="container">
      <div class="innerwrap">
      
          <section class="section1 clearfix">
              <div class="textcenter">
                 
                  <span class="seperator"></span>
                  <h1>İletişim Formu</h1>
              </div>
          </section>
     
     
          <section class="section2 clearfix">
              <div class="col2 column1 first">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3012.086751818843!2d28.872698315413125!3d40.9795811793036!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14cabd361d9f2bcd%3A0x109cda61c48e4b76!2sNeos%20Yaz%C4%B1l%C4%B1m%20Akademi!5e0!3m2!1sen!2str!4v1686053932856!5m2!1sen!2str" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
              </div>
              <div class="col2 column2 last">
                  <div class="sec2innercont">
                      <div class="sec2addr adres">
                          <p style="color: black;">Cevizlik, Hüsreviye Sk. No:12, 34142 Bakırköy/İstanbul</p>
                          <p style="color: black;"><span class="collig">Telefon Numarası :</span> 05013205358</p>
                          <p style="color: black;"><span class="collig">Email :</span>  neosiletisim@gmail.com</p>
                          
                      </div>
                  </div>
                  <div class="sec2contactform">
                      <h3 class="sec2frmtitle">Hemen İletişime Geçmek İçin Form Gönderin</h3>
                      <form method="POST" >
                        {% csrf_token %}
                          <div class="clearfix">
                             
                              <input class="col2 first"  name="name"  type="text" placeholder="Adınız" required>
                      
                             
                          </div>
                          <div class="clearfix">
        
                              <input  class="col2 first" type="email" name="email" placeholder="Email" required>
                              
                          </div>
                          <div class="clearfix">
                              <textarea name="text" placeholder="Mesajınız..." required></textarea>
                          </div>
                          <button href="Anasayfa.html" type="submit" class="btnbt">Gönder</button>
                          
                      </form>
                  </div>
  
              </div>
          </section>
      
      </div>
  </div>
  </div>
</div>
  {% endblock body %}
    












 
 