{% extends 'base.html' %}




{% block body %}
  
<div  id="header" class="banner">
  
    <div  class="sp-container">
      <div class="sp-content">
        <div style="margin-top: -300px;" class="sp-globe"></div>
        <h2 class="frame-1">Front-End ve Back-End</h2>
        <h2 class="frame-2">Alanın da Uzman Öğretmenlerden Alınan</h2>
        <h2 class="frame-3">Sorular ve Ders İçerikleri ile</h2>
        <h2 class="frame-4">Yazılım Öğren</h2>
        <h2 class="frame-5">
          <span>Dersler ve Quizler İçin</span>
          <span>Giriş Yap</span>
          <span>Veya Kayıt Ol</span>
        </h2>
      </div>
    </div>
   <a class="btn" style="color: white; text-decoration: none; z-index: 9; font-size: 45px; margin-top: 500px; margin-right: 100px;" href="{% url 'loginUser' %}">Giriş</a>
    <video src="../static/img/cybur.mp4"  autoplay muted loop></video>
  
</div>
{% endblock body %}
  







